{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WildGuess</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parkinsans&family=Spicy+Rice&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script type="text/javascript" src="{% static 'javaScript/penguin.js' %}">
  </script>
</head>
<body>

<div class="container">

  <div class="traitBox" id="traitBox">
    <h1>Traits</h1>
    <!--TraitBoxInput's added by javascript-->
  </div>

  <!-- This is where we put the animal's image -->
  <div class="animalImage">
    <img id="penguinImg" class="img penguinImg" src="{% static 'images/penguin.png' %}" alt="Penguin">
    <p id="hoverText" class="hoverText">lorel ipsumlorel ipsumlorel ipsumlorel ipsumlorel ipsumlorel ipsumlorel ipsumlorel ipsum</p>
    <img id="questionImg" class="img questionImg" src="{% static 'images/question.png' %}" alt="Penguin">
    <br>
    <p id="scoreMessage" class="scoreMessage"></p>
    <button id="submitBtn" class="btn submitBtn" type="submit">Submit</button>
    <br>
    <button id="nextBtn" class="btn nextBtn" type="submit">Next Game</button>
  </div>

  <!-- This is where we put Specifications -->
  <div class="specsBox">
    <h1>Specifications</h1>
    <p class="specsBoxText">I live in very cold places, but some of my kind enjoy warmer areas too</p>
    <br>
    <p class="specsBoxText">I cannot fly, but I am an excellent swimmer.</p>
    <br>
    <p class="specsBoxText">I don’t have teeth, but I can still catch my food easily</p>
    <br>
  </div>
</div>

<script>
  onPageLoad();
</script>

</body>
</html>