<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WildGuess</title>
  
  <style>
    body {
      background-color: cyan;
    }
    
    h1{
      font-family: "Arial", sans-sarif;
      font-size: 5rem;
      color: #FF0000;
    }

    p {
      margin-top: 50px;
      font-size: 2rem;
    }
  </style>

</head>
<body>
  <h1>Hello, World!</h1>
  <p>I am {{name}} and I am  {{age}} years old.</p>
</body>
</html>